.about-page {
	position: relative;
	overflow: hidden;
	background-color: var(--white);

	&__container {
		position: relative;
		z-index: var(--z-index-base);
		padding-block: 36px 0;
	}

	&__hero {
		text-align: center;
		display: flex;
		align-items: center;
		flex-direction: column;
		margin-bottom: 52px;

		@include mobile {
			margin-bottom: 17px;
		}
	}

	&__eyebrow {
		@include fluid-text(19, 32);

		font-weight: 700;
		color: var(--primary-500);
		margin-bottom: 12px;

		@include mobile {
			margin-bottom: 7px;
		}
	}

	&__logo {
		margin-bottom: 12px;

		@include mobile {
			max-width: 190px;
			margin-bottom: 7px;
		}
	}

	&__subtitle {
		@include fluid-text(10, 16);

		font-weight: 300;
		color: var(--gray-500);
	}
}
