.about-brand {
	position: relative;
	display: grid;
	align-items: center;
	min-height: 780px;
	overflow: hidden;
	background-color: var(--white);
	padding-block: 90px;
	margin-bottom: 18px;

	@include tablet {
		padding: 40px 40px;
		min-height: 520px;
	}

	@include mobile {
		padding: 40px 10px;
		min-height: 320px;
	}

	&__image {
		@include visual-frame-layer;

		height: 100%;
		object-fit: cover;
		object-position: center;
	}

	&__container {
		position: relative;
		z-index: var(--z-index-base);
		padding-inline: var(--container-padding-x);
		min-width: 0;
	}

	&__card {
		width: 100%;
		max-width: 1160px;
		min-height: 600px;
		margin-inline: auto;
		padding: 48px 50px;
		background: rgba(255, 255, 255, 0.2);
		border: 1px solid rgba(255, 255, 255, 0.3);
		border-radius: 37px;
		backdrop-filter: blur(3px);

		@include tablet {
			min-height: auto;
			padding: 25px 20px 20px 20px;
			border-radius: 7px;
		}
	}

	&__eyebrow {
		@include fluid-text(12, 36);

		font-weight: 700;
		margin-bottom: 2px;
	}

	&__logo {
		width: 317px;
		margin-bottom: 18px;

		@include tablet {
			width: 120px;
		}
	}

	&__text {
		@include fluid-text(14, 20);

		max-width: 570px;
		margin-bottom: 54px;
		line-height: 1.15;

		@include tablet {
			margin-bottom: 20px;
		}

		p:not(:last-child) {
			margin-bottom: 1em;
		}
	}

	&__button {
		--button-plate-arrow-from: rgba(246, 205, 20, 0.74);
		--button-plate-arrow-to: rgba(254, 206, 106, 0.74);

		justify-content: space-between;
		
		span {
			min-width: 226px;
			min-height: 36px;
		}
		
		@include hover {
			color: var(--black);
			--button-plate-arrow-from: rgba(246, 205, 20, 1);
			--button-plate-arrow-to: rgba(254, 206, 106, 1);

			span {
				box-shadow:
					0 2px 4px 0 rgba(194, 178, 0, 0.05),
					0 7px 7px 0 rgba(194, 178, 0, 0.04),
					0 15px 9px 0 rgba(194, 178, 0, 0.03),
					0 27px 11px 0 rgba(194, 178, 0, 0.01),
					0 42px 12px 0 rgba(194, 178, 0, 0);
			}
		}
	}

	&--page {
		margin-bottom: 52px;

		@include tablet {
			margin-bottom: 10px;
		}

		.about-brand__card {
			display: grid;
			align-content: center;
		}

		.about-brand__text {
			@include fluid-text(12, 36);

			max-width: 1060px;
			margin-bottom: 0;
			line-height: 1.2;
		}
	}

	&__decor {
		@include visual-frame-layer;

		z-index: 1;
		pointer-events: none;
	}

	&__stitch {
		position: absolute;
		bottom: 0;
		left: -350px;
		width: 790px;

		@include desktop {
			left: -600px;
		}

		@include tablet {
			width: 320px;
			left: -200px;
			bottom: 100px;
		}
	}
}
