.brand-values {
	position: relative;
	padding-bottom: 233px;
	background-image: var(--background-image);
	background-position: top;
	background-repeat: no-repeat;
	background-size: min(100%, 1900px) auto;

	@include tablet {
		background-position: center calc(100% + 230px);
		padding-bottom: 40px;
		background-size: 760px auto;
	}

	&__container {
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		gap: 32px;
		width: min(100%, 1100px);
		margin-inline: auto;

		@include mobile {
			grid-template-columns: 1fr;
			gap: 10px;
		}
	}

	&__card {
		min-height: 294px;
		padding: 32px 52px;
		background-color: var(--white);
		border-radius: 21px;
		box-shadow: 0 6px 23px 0 rgba(0, 0, 0, 0.11);

		@include tablet {
			min-height: 176px;
			padding: 20px 31px;
			border-radius: 13px;
			box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.11);
		}
	}

	&__card-header {
		display: flex;
		align-items: flex-start;
		gap: 18px;
		margin-bottom: 34px;

		@include tablet {
			gap: 4px;
			margin-bottom: 20px;
		}
	}

	&__icon {
		@include square(120);

		object-fit: contain;

		@include tablet {
			width: 72px;
		}
	}

	&__title {
		@include fluid-text(23, 38);
		font-weight: 700;
	}

	&__text {
		@include fluid-text(15, 25);

		max-width: 350px;
		color: var(--gray-500);
	}
}
