.button {
	@include reset-button;
	@include flex-center(true);

	min-height: var(--button-height);
	padding: 14px 28px;
	gap: 10px;
	font-weight: 600;
	font-size: 24px;
	line-height: 1;
	text-align: center;
	color: var(--black);
	background: var(--primary-500);
	border: var(--border);
	border-radius: var(--border-radius);
	box-shadow: none;
	transition-property: all;
	transition-duration: var(--transition-duration);
	transition-timing-function: var(--transition-timing-function);

	@include hover {
		background: var(--primary-300);
		box-shadow:
			0 0 1px 0 rgba(255, 255, 255, 0.85),
			0 0 1px 0 rgba(255, 255, 255, 0.5),
			0 0 1px 0 rgba(255, 255, 255, 0.15),
			0 0 1px 0 rgba(255, 255, 255, 0.02);
	}

	&:active {
		background: var(--white);
		color: var(--black);
	}

	&:focus-visible {
		outline: 2px solid var(--black);
		outline-offset: 3px;
	}

	&--secondary {
		background: var(--black);
		color: var(--primary-500);

		@include hover {
			background: var(--gray-500);
			color: var(--white);
		}

		&:active {
			background: var(--primary-500);
			color: var(--white);
		}
	}

	&--outline {
		background: transparent;
		color: var(--black);
		border-color: var(--gray-500);

		@include hover {
			border-color: var(--primary-500);
			color: var(--primary-500);
		}
	}
}

.button-plate {
	@include reset-link;
	@include flex-center(true);

	--button-plate-arrow-size: 37px;
	--button-plate-arrow-offset: 3px;
	--button-plate-arrow-from: rgba(246, 205, 20, 0.25);
	--button-plate-arrow-to: rgba(254, 206, 106, 0.25);
	--button-plate-color: linear-gradient(
		90deg,
		var(--button-plate-arrow-from) 0%,
		var(--button-plate-arrow-to) 100%
	);

	gap: var(--button-plate-arrow-offset);
	transition-property: all;
	transition-duration: var(--transition-duration);
	transition-timing-function: var(--transition-timing-function);

	.button-plate__icon--inactive {
		display: flex;
	}
	.button-plate__icon--active {
		display: none;
	}

	span {
		@include flex-center(true);

		position: relative;
		min-height: 36px;
		padding: 7px;
		font-size: 16px;
		font-weight: 600;
		line-height: 1.1;
		color: var(--gray-500);
		border-radius: var(--border-radius);
		background: var(--button-plate-color);
		box-shadow:
			0 2px 4px 0 rgba(194, 178, 0, 0.05),
			0 7px 7px 0 rgba(194, 178, 0, 0.04),
			0 15px 9px 0 rgba(194, 178, 0, 0.03),
			0 27px 11px 0 rgba(194, 178, 0, 0.01),
			0 42px 12px 0 rgba(194, 178, 0, 0);
		transition-property: all;
		transition-duration: var(--transition-duration);
		transition-timing-function: var(--transition-timing-function);
	}

	svg,
	.button-plate__icon {
		position: relative;
		width: var(--button-plate-arrow-size);
		height: var(--button-plate-arrow-size);
		right: 0px;
		border-radius: 50%;
		transition-property: all;
		transition-duration: var(--transition-duration);
		transition-timing-function: var(--transition-timing-function);
	}

	svg stop:first-child {
		stop-color: var(--button-plate-arrow-from);
		transition-property: all;
		transition-duration: var(--transition-duration);
		transition-timing-function: var(--transition-timing-function);
	}

	svg stop:last-child {
		stop-color: var(--button-plate-arrow-to);
		transition-property: all;
		transition-duration: var(--transition-duration);
		transition-timing-function: var(--transition-timing-function);
	}

	@include hover {
		--button-plate-arrow-from: rgba(255, 209, 0, 0.6);
		--button-plate-arrow-to: rgba(254, 206, 106, 0.6);

		span,
		.button-plate__icon {
			box-shadow:
				0 0 1px 0 rgba(255, 255, 255, 0.85),
				0 0 1px 0 rgba(255, 255, 255, 0.5),
				0 0 1px 0 rgba(255, 255, 255, 0.15),
				0 0 1px 0 rgba(255, 255, 255, 0.02);
			box-shadow: none;
		}

		.button-plate__icon--inactive {
			display: none;
		}
		.button-plate__icon--active {
			display: flex;
		}
	}

	&:active {
		--button-plate-arrow-from: #f6cd14;
		--button-plate-arrow-to: #fece6a;
	}
}
