.catalog-page {
	position: relative;

	.breadcrumbs {
		margin-bottom: 24px;
	}

	&__decor {
		@include visual-frame-layer;

		z-index: 0;
		overflow: visible;
	}

	&__decor-stitch {
	}

	&__decor-stitch--left {
		top: 0;
		left: -165px;
		width: 499px;
	}

	&__decor-stitch--right {
		top: -70px;
		right: -120px;
		width: 260px;
	}

	&__decor-stitch--middle {
		top: 1500px;
		right: -10px;
		width: 1155px;
	}

	&__decor-stitch--bottom {
		bottom: -160px;
		left: 0px;
		width: 415px;
	}

	&__container {
		position: relative;
		z-index: 3;
	}

	&__header {
		margin-bottom: 31px;
	}

	&__title {
		@include fluid-text(28, 36);

		font-weight: 700;
		line-height: 1.02;
	}

	&__mobile-filter-button {
		display: inline-flex;
		flex-shrink: 0;
		width: auto;
		max-width: 90%;
		width: 100%;
		font-size: 20px;
		font-weight: 600;
		padding: 5px 10px;
		border-radius: var(--border-radius);
		box-shadow:
			0 2px 5px 0 rgba(112, 112, 112, 0.1),
			0 9px 9px 0 rgba(112, 112, 112, 0.09),
			0 21px 12px 0 rgba(112, 112, 112, 0.05),
			0 36px 15px 0 rgba(112, 112, 112, 0.01),
			0 57px 16px 0 rgba(112, 112, 112, 0);
		background: var(--white);

		@include hover {
			box-shadow:
				0 2px 5px 0 rgba(112, 112, 112, 0.1),
				0 9px 9px 0 rgba(112, 112, 112, 0.09),
				0 21px 12px 0 rgba(112, 112, 112, 0.05),
				0 36px 15px 0 rgba(112, 112, 112, 0.01),
				0 57px 16px 0 rgba(112, 112, 112, 0);
		}

		&.is-active {
			background: linear-gradient(180deg, #fff 0%, #fff8d7 100%);
		}

		@include tablet-above {
			display: none;
		}
	}

	&__layout {
		display: grid;
		grid-template-columns: 264px minmax(0, 1fr);
		align-items: start;
		gap: 20px;
	}

	&__filter {
		position: sticky;
		top: calc(var(--header-height) + 24px);
	}

	@include tablet {
		&__header {
			margin-bottom: 24px;
		}

		&__layout {
			grid-template-columns: 1fr;
			justify-items: center;
		}

		&__filter {
			position: static;
			display: none;
			width: 100%;
			margin-bottom: 32px;
			// margin-inline: 17px;
			position: absolute;
			z-index: 2;
			top: 100px;
			width: 90%;
		}

		&__filter.is-open {
			display: grid;
		}

		.catalog-products {
			width: 100%;
		}

		&__decor-stitch--left {
			scale: 0.3;
			top: -65px;
			left: 300px;
		}

		&__decor-stitch--right,
		&__decor-stitch--middle,
		&__decor-stitch--bottom {
			display: none;
		}
	}
}
