.catalog-products {
	display: grid;
	gap: 54px;

	@include mobile {
		gap: 30px;
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(4, minmax(0, 1fr));
		gap: 64px 54px;
		z-index: 4;

		@include desktop {
			grid-template-columns: repeat(3, minmax(0, 1fr));
			gap: 42px 24px;
		}

		@include tablet-s {
			grid-template-columns: repeat(2, minmax(0, 1fr));
			gap: 30px 20px;
		}

		@include mobile {
			grid-template-columns: 1fr;
			gap: 18px;
		}
	}

	&__pagination {
		justify-self: center;
	}

	.product-card {
		min-height: 462px;
		padding: 29px;
		border-radius: 17px;

		@include desktop {
			min-height: 390px;
		}

		@include tablet-s {
			min-height: 100%;
			padding: 42px 24px 26px;
			border-radius: var(--border-radius);
		}

		@include mobile {
			display: grid;
			grid-template-columns: minmax(181px, 50%) minmax(0, 1fr);
			gap: 13px;
			min-height: 0;
			padding: 8px;
			border-radius: 26px;
		}

		@include mobile-s {
			grid-template-columns: 108px minmax(0, 1fr);
			gap: 14px;
			padding: 14px;
			border-radius: var(--border-radius);
		}
	}

	.product-card__label {
		@include fluid-text(10, 11);
	}

	.product-card__title {
		@include fluid-text(14, 16);
	}

	.product-card__price {
		@include fluid-text(11, 13);
	}

	.product-card__link {
		@include fluid-text(11, 13);

		// margin-top: 22px;

		@include mobile {
			margin-top: 8px;
		}
	}

	.product-card__image-link {
		@include mobile {
			height: 190px;
			margin-bottom: 0;
		}

		@include mobile-s {
			height: 108px;
		}
	}

	.product-card__image {
		@include mobile {
			width: 100%;
			max-width: 280px;
			max-height: 190px;
		}

		@include mobile-s {
			max-width: 108px;
			max-height: 108px;
		}
	}

	.product-card__content {
		@include mobile {
			justify-content: center;
		}
	}
}
