.catalog-filter {
	display: grid;
	gap: 20px;
	padding: 26px 12px 50px 12px;
	background-color: var(--white);
	border-radius: 20px;
	box-shadow:
		0 26px 58px 0 rgba(0, 0, 0, 0.1),
		0 105px 105px 0 rgba(0, 0, 0, 0.09),
		0 235px 141px 0 rgba(0, 0, 0, 0.05),
		0 417px 167px 0 rgba(0, 0, 0, 0.01),
		0 652px 183px 0 rgba(0, 0, 0, 0);

	@include tablet {
		display: none;
	}

	&__icon {
		@include square(18px);
	}

	&__group {
		display: grid;
		margin-inline: 0;

		&:not(.is-expanded) .catalog-filter__group-toggle {
			margin-bottom: 0;
		}
	}

	&__group.is-expanded &__body {
		display: grid;
	}

	&__legend,
	&__group-toggle {
		font-size: 16px;
		font-weight: 700;
		line-height: 1.12;
		color: var(--black);
		margin-bottom: 20px;
		padding-inline: 0;
		user-select: none;
	}

	&__range-title {
		font-size: 12px;
		font-weight: 500;
		line-height: 1.2;
		color: var(--black);
	}

	&__group-toggle {
		@include reset-button;

		display: inline-flex;
		align-items: center;
		justify-content: flex-start;
		gap: 5px;
		width: 100%;
		text-align: left;
		transition-property: color;
		margin-bottom: 15px;

		&::after {
			content: '';
			width: 9px;
			height: 9px;
			flex-shrink: 0;
			border-right: 2px solid var(--primary-500);
			border-bottom: 2px solid var(--primary-500);
			rotate: 45deg;
			translate: 0 -3px;
			transition-property: rotate, translate;
			transition-duration: var(--transition-duration);
		}

		@include hover {
			color: var(--primary-600);
		}
	}

	&__group.is-expanded &__group-toggle::after {
		rotate: 225deg;
		translate: 0 3px;
	}

	&__body {
		display: grid;
		gap: 20px;
	}

	&__body--collapsed {
		display: none;
	}

	&__group.is-expanded &__body--collapsed {
		display: grid;
	}

	&__checkbox {
		display: grid;
		grid-template-columns: 24px 1fr;
		align-items: center;
		gap: 8px;
		min-height: 24px;
		font-size: 12px;
		font-weight: 500;
		line-height: 1.22;
		color: var(--black);
		cursor: pointer;
		user-select: none;

		@include hover {
			& .catalog-filter__checkbox-control {
				background-image: url('/images/icons/checkbox-hovered.svg');
			}
			&
				.catalog-filter__checkbox-input:checked
				+ .catalog-filter__checkbox-control {
				background-image: url('/images/icons/checkbox-checked.svg');
			}
		}
	}

	&__checkbox-input {
		@include visually-hidden;

		&:checked + .catalog-filter__checkbox-control {
			background-image: url('/images/icons/checkbox-checked.svg');
		}

		&:focus-visible + .catalog-filter__checkbox-control {
			outline: 2px solid var(--primary-500);
			border-radius: 2px;
			outline-offset: 3px;
		}
	}

	&__checkbox-control {
		@include square(24px);

		background-image: url('/images/icons/checkbox-box.svg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}

	&__ranges {
		display: grid;
		gap: 20px;
	}

	&__range {
		display: grid;
		gap: 15px;
	}

	&__scale {
		display: none;
	}

	&__scale-value {
		position: absolute;
		top: calc(100% + 7px);
		left: 50%;
		min-width: 32px;
		font-size: 12px;
		font-weight: 500;
		color: var(--black);
		line-height: 1.2;
		text-align: center;
		pointer-events: none;
		translate: -50% 0;
	}

	&__range-slider {
		height: 1px;
		margin: 4px 5px 18px;
		border: none !important;
		background: var(--gray-200);

		.ui-slider-range {
			background-color: var(--gray-700);
		}

		.ui-slider-handle {
			width: 10px;
			height: 10px;

			top: -5px;
			margin-left: -5px;
			background-color: var(--primary-500);
			border: none;
			border-radius: 50%;
			outline: none;

			&.ui-state-hover,
			&.ui-state-active {
				box-shadow: 0 0 0 4px rgba(246, 205, 20, 0.2);
			}
		}
	}

	&__values {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 74px));
		justify-content: space-between;
		gap: 14px;
	}

	&__value {
	}

	&__value-input {
		width: 100%;
		min-height: 30px;
		padding: 8px 10px;
		font-weight: 600;
		font-size: 12px;
		color: var(--gray-350);
		text-align: center;
		background-color: var(--white);
		border: 1px dashed var(--primary-500);
		border-radius: var(--border-radius);
		outline: none;
		transition-property: border-color, color, box-shadow;

		&:focus {
			color: var(--black);
			border-color: var(--primary-600);
			box-shadow: 0 0 0 3px var(--focus-ring-color);
		}
	}

	&__actions {
		position: absolute;
		width: 100%;
		bottom: -40px;
		display: grid;
		justify-items: center;
		gap: 7px;
		user-select: none;
	}

	&__actions-submit {
		min-height: 40px;
		width: min(100%, 195px);
		font-size: 24px;
		font-weight: 700;
		background: linear-gradient(90deg, #e2dab1 0%, #e5dbc5 100%);
		transition: background var(--transition-duration)
			var(--transition-timing-function);

		padding: 5px 10px;

		@include hover {
			background: linear-gradient(90deg, #f2e8b5 0%, #f6eacf 100%);
		}
	}

	&__actions-reset {
		min-height: auto;
		padding: 0;
		font-size: 12px;
		font-weight: 500;
		color: var(--white);
		background: transparent;
		border: none;
		box-shadow: none;

		@include hover {
			background: transparent;
			box-shadow: none;
			color: var(--primary-300);
		}

		&:active {
			background: transparent;
			color: var(--primary-300);
		}
	}
}
