.comparison-products {
	position: relative;
	z-index: 2;
	max-width: var(--comparison-inner-width);
	margin-inline: auto;
	margin-bottom: 70px;

	@include tablet {
		margin-bottom: 31px;
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(3, minmax(0, 1fr));
		gap: 40px;

		@include tablet {
			gap: 20px;
		}

		@include mobile {
			gap: 2px;
		}
	}

	&__item {
		display: grid;
		gap: 14px;
		min-width: 0;

		@include tablet {
			gap: 3px;
		}
	}

	.product-card {
		align-items: center;
		justify-content: space-between;
		min-height: unset;
		padding: 30px 36px 32px;
		border-radius: 22px;
		box-shadow: 2px 5px 15px 0 rgba(0, 0, 0, 0.08);

		@include desktop {
			padding: 30px 28px 24px;
		}

		@include tablet {
			padding: 22px 18px 20px;
			border-radius: 14px;
			box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.08);
		}

		@include mobile {
			padding: 8px 9px 8px;
			border-radius: 6px;
		}
	}

	.product-card__content {
		display: contents;
	}

	.product-card__label {
		display: none;
	}

	.product-card__title {
		@include fluid-text(5, 20);

		order: -1;
		max-width: 100%;
		margin-bottom: 4px;
		font-weight: 700;
		line-height: 1.2;

		@include mobile {
			margin-bottom: 0px;
		}
	}

	.product-card__image-link {
		width: 100%;
		height: 309px;
		margin-bottom: 21px;
		pointer-events: none;

		@include tablet {
			height: 160px;
			margin-bottom: 18px;
		}

		@include mobile {
			height: 84px;
			margin-bottom: 5px;
		}
	}

	.product-card__image {
		margin-top: 0;
		width: min(100%, 309px);
		max-height: 238px;

		@include desktop {
			width: min(100%, 270px);
			max-height: 210px;
		}

		@include tablet {
			width: min(100%, 210px);
			max-height: 160px;
		}

		@include mobile {
			width: min(100%, 84px);
			max-height: 76px;
		}
	}

	.product-card__price {
		@include fluid-text(16, 42);

		color: var(--gray-900);
		font-weight: 400;
		margin-bottom: 16px;
		line-height: 1;

		@include desktop {
			margin-bottom: 14px;
		}

		@include tablet {
			margin-bottom: 10px;
		}

		@include mobile {
			margin-bottom: 5px;
		}
	}

	.product-card__link {
		@include fluid-text(6, 17);

		text-align: left;
		width: 100%;
		color: var(--gray-900);
		font-weight: 400;
		margin-top: 0;
	}

	&__select {
		min-width: 0;

		&.is-open {
			.dropdown__button {
				border-radius: var(--border-radius-lg) var(--border-radius-lg) 0 0;

				@include tablet {
					border-radius: var(--border-radius) var(--border-radius) 0 0;
				}

				@include mobile {
					border-radius: 6px 6px 0 0;
				}
			}

			.dropdown__list {
				border-top-left-radius: 0;
				border-top-right-radius: 0;
			}
		}
	}

	&__select-button {
		@include fluid-text(5, 18);

		display: grid;
		grid-template-columns: minmax(0, 1fr) auto;
		align-items: center;
		width: 100%;
		min-height: unset;
		padding: 23px 23px 23px 50px;
		font-weight: 700;
		text-align: left;
		background-color: var(--white);
		border-radius: var(--border-radius-lg);
		color: var(--gray-500);
		box-shadow:
			0 1px 1px 0 rgba(0, 0, 0, 0.1),
			0 2px 2px 0 rgba(0, 0, 0, 0.09),
			0 6px 3px 0 rgba(0, 0, 0, 0.05),
			0 10px 4px 0 rgba(0, 0, 0, 0.01),
			0 16px 4px 0 rgba(0, 0, 0, 0);

		@include tablet {
			padding: 12px 16px;
			border-radius: var(--border-radius);
		}

		@include mobile {
			padding: 6px 6px 6px 13px;
			border-radius: 6px;
			box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
		}
	}

	&__select-arrow {
		color: var(--gray-500);

		@include mobile {
			width: 7px;
			height: auto;
		}
	}

	&__select-list {
		top: 100%;
		background-color: var(--white);
		border-radius: var(--border-radius-sm);
		box-shadow: var(--shadow);

		@include mobile {
			border-radius: 6px;
		}
	}

	&__select-option {
		@include fluid-text(7, 14);

		padding: 23px 23px 23px 50px;
		font-weight: 600;
		border-radius: var(--border-radius-xs);

		@include hover {
			background-color: var(--primary-100);
		}
		@include tablet {
			padding: 12px 16px;
		}
		@include mobile {
			padding: 6px 6px 6px 13px;
		}
	}
}
