.comparison-page {
	--comparison-inner-width: 1230px;

	&__container {
		position: relative;
		max-width: calc(1390px + var(--container-padding-x) * 2);
		padding-block: 22px 142px;

		@include tablet {
			padding-block: 0px 31px;
		}
	}

	&__decor {
		@include visual-frame-layer;

		z-index: 0;
		overflow: visible;
	}

	&__stitch {
	}

	&__stitch--left {
		left: -80px;
		top: 100px;

		@include tablet {
			scale: 0.5;
			transform: translateX(50%);
			left: calc(50% - 630px);
			top: -270px;
		}
		@include mobile-s {
			scale: 0.3;
			transform: translateX(50%);
			left: calc(50% - 326px);
			top: -345px;
		}
	}

	&__stitch--right {
		right: -110px;
		top: -90px;

		@include tablet {
			scale: 0.5;
			transform: translateX(50%);
			right: calc(50% - 500px);
			top: -270px;
		}
		@include mobile-s {
			scale: 0.3;
			transform: translateX(50%);
			right: calc(50% - 260px);
			top: -355px;
		}
	}

	&__hero {
		position: relative;
		z-index: 1;
		margin-bottom: 38px;
		text-align: center;

		@include tablet {
			margin-bottom: 7px;
		}
	}

	&__title {
		@include fluid-text(18, 48);

		margin-bottom: 14px;
		font-weight: 700;
		line-height: 1.05;
		color: var(--primary-500);

		@include tablet {
			margin-bottom: 5px;
		}
	}

	&__subtitle {
		@include fluid-text(10, 16);

		font-weight: 300;
		color: var(--gray-500);

		@include tablet {
			margin-inline: auto;
			max-width: 430px;
		}
	}

	&__empty {
		position: relative;
		z-index: 2;
		max-width: var(--comparison-inner-width);
		margin-inline: auto;
		padding: 32px 12px;
		text-align: center;
		background-color: var(--white);
		border-radius: var(--border-radius-lg);
		box-shadow:
			0 2px 5px 0 rgba(128, 128, 128, 0.1),
			0 9px 9px 0 rgba(128, 128, 128, 0.09),
			0 21px 12px 0 rgba(128, 128, 128, 0.05),
			0 37px 15px 0 rgba(128, 128, 128, 0.01),
			0 58px 16px 0 rgba(128, 128, 128, 0);
		margin-bottom: 20px;

		@include tablet {
			padding: 24px 12px;
			border-radius: 12px;
		}

		@include mobile {
			padding: 16px 12px;
			border-radius: 8px;
		}
	}

	&__empty-text {
		@include fluid-text(12, 24);

		font-weight: 700;
	}

	&.is-empty {
		.comparison-page__empty {
			display: block;
		}

		.comparison-products,
		.comparison-section {
			display: none;
		}
	}
}
