.contacts-page {
	position: relative;

	&__decor {
		@include visual-frame-layer;

		z-index: 0;
		overflow: visible;
	}

	&__stitch {
	}

	&__stitch--right {
		top: 940px;
		right: -190px;

		@include tablet {
			scale: 0.3;
			top: unset;
			right: unset;
			left: calc(50% - 170px);
			bottom: 180px;
		}
	}

	&__stitch--left {
		left: -290px;
		top: 1050px;

		@include tablet {
			scale: 0.3;
			top: unset;
			left: calc(50% - 650px);
			bottom: 60px;
		}
	}

	&__container {
		position: relative;
		z-index: 1;
		padding-block: 0px 0;
	}

	&__hero {
		position: relative;
		display: grid;
		grid-template-columns: minmax(0, 1fr) auto;
		gap: 40px;
		align-items: start;
		margin-bottom: 76px;

		@include tablet {
			margin-bottom: 16px;
		}
	}

	&__title {
		@include fluid-text(43, 96);

		font-weight: 800;
		text-transform: uppercase;
		color: var(--primary-500);
		margin-bottom: 5px;

		text-shadow: 0 8px 14px 0 rgba(255, 240, 173, 0.22);

		@include tablet {
			text-shadow: 0 4px 7px 0 rgba(255, 240, 173, 0.22);
		}
	}

	&__subtitle {
		@include fluid-text(14, 32);

		font-weight: 300;
		max-width: 460px;
		color: var(--gray-500);

		@include tablet {
			max-width: 280px;
		}

		@include mobile {
			max-width: 240px;
		}
	}

	&__hero-image {
		position: absolute;
		right: -130px;
		top: -150px;
		width: min(100%, 680px);
		object-fit: contain;
		z-index: 0;

		@include tablet {
			right: -60px;
			top: -70px;
			width: min(100%, 250px);
		}

		@include mobile {
			right: -30px;
			top: 10px;
			width: min(100%, 120px);
		}
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		gap: 36px;
		margin-bottom: 70px;

		@include tablet {
			gap: 16px;
			grid-template-columns: 1fr;
			margin-bottom: 55px;
		}
	}

	&__card {
		position: relative;
		z-index: 2;
		padding: 44px 58px 54px 57px;
		background-color: var(--white);
		border-radius: 20px;
		box-shadow:
			0 19px 41px 0 rgba(0, 0, 0, 0.1),
			0 75px 75px 0 rgba(0, 0, 0, 0.09),
			0 169px 102px 0 rgba(0, 0, 0, 0.05),
			0 301px 120px 0 rgba(0, 0, 0, 0.01),
			0 470px 132px 0 rgba(0, 0, 0, 0);

		@include desktop {
			padding: 13px 24px 20px 27px;
		}
	}

	&__card-title {
		@include fluid-text(23, 30);

		position: relative;
		margin-bottom: 39px;
		padding-bottom: 39px;
		padding-left: 20px;
		font-weight: 600;

		@include tablet {
			margin-bottom: 20px;
			padding-bottom: 17px;
			padding-left: 9px;
		}

		&::after {
			content: '';
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			height: 1px;
			background-image: linear-gradient(
				90deg,
				var(--gray-400) 0 8px,
				transparent 8px 16px
			);
			background-size: 16px 1px;
		}
	}

	&__contact-list {
		display: grid;
		gap: 36px;
		padding-inline: 20px;

		@include tablet {
			padding-inline: 0;
		}
	}

	&__contact-item {
		display: grid;
		grid-template-columns: 38px minmax(0, 1fr);
		gap: 17px;
		align-items: start;

		@include tablet {
			grid-template-columns: 23px minmax(0, 1fr);
			gap: 10px;
		}
	}

	&__contact-icon {
		@include square(37px);

		object-fit: contain;

		@include tablet {
			@include square(23px);
		}
	}

	&__contact-name {
		@include fluid-text(23, 38);

		font-weight: 900;
		line-height: 1;
	}

	&__contact-value {
		@include fluid-text(23, 38);

		font-weight: 700;
		line-height: 1.05;
	}

	&__contact-note {
		@include fluid-text(14, 24);

		font-weight: 300;
		line-height: 1.2;
	}

	&__form-actions {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__form {
		display: grid;
		gap: 39px;

		padding-inline: 40px;

		@include tablet {
			gap: 17px;
			padding-inline: 0px;
		}
	}

	&__control {
		@include fluid-text(9, 21);

		width: 100%;
		font-weight: 600;
		padding: 20px 15px;
		background-color: var(--white);
		border: none;
		border-radius: 11px;
		box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.25);
		outline: none;

		&:focus {
			box-shadow:
				var(--shadow-sm),
				0 0 0 1px var(--primary-400);
		}

		@include tablet {
			border-radius: 5px;
			padding: 9px 6px;
			box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.25);
		}
	}

	&__control--textarea {
		min-height: 180px;
		resize: vertical;
		@include tablet {
			min-height: 92px;
		}
	}

	&__submit {
		@include fluid-text(7, 24);

		min-height: unset;
		justify-self: center;
		padding: 8px 10px;
		width: min(100%, 470px);
	}

	&__form-note {
		@include fluid-text(7, 16);

		font-weight: 300;
		color: var(--gray-400);
		text-align: center;
	}
}
