.decor {
	position: absolute;
	inset: 0;
	z-index: 2;
	overflow: hidden;
	pointer-events: none;

	&__item {
		position: absolute;
		display: block;
		max-width: none;
		pointer-events: none;
		user-select: none;
	}

	&__item--stitch {
		// opacity: 0.9;
	}

	&__item--muted {
		// opacity: 0.45;
	}

	@include mobile {
		&__item--mobile-hidden {
			display: none;
		}
	}
}

.decor-stitch {
}

.decor-button {
}
