.equipment-features {
	position: relative;
	min-height: 780px;
	margin-bottom: 23px;
	overflow: visible;
	color: var(--white);

	@include desktop {
		min-height: 600px;
	}

	@include tablet {
		min-height: 340px;
		margin-bottom: 0px;
		margin-bottom: 11px;
	}

	&__bg {
		@include visual-frame-layer;

		z-index: 0;
		height: 100%;
		object-fit: cover;
		object-position: 50% 50%;
	}

	&__decor {
		@include visual-frame-layer;

		overflow: visible;
		z-index: 2;
	}

	&__stitch {
		top: 0;
		left: 0;
		width: calc(100% - 12px);
		transform: translateY(-50%);

		@include tablet {
			width: 100%;
			left: calc(200px - 40vw);
			top: -28px;
			scale: 0.3;
		}
	}

	&__container {
		position: relative;
		z-index: 1;
		min-height: inherit;
		padding-block-start: 40px;
		max-width: 1240px;

		@include tablet {
			padding-block-start: 11px;
		}
	}

	&__header {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 12px;
		margin-bottom: 34px;

		@include tablet {
			gap: 2px;
			margin-bottom: 10px;
		}
	}

	&__title {
		@include fluid-text(16, 32);

		font-weight: 700;
		text-align: center;
		color: var(--primary-500);
		text-shadow: 0 4px 12px 0 rgba(246, 205, 20, 0.24);
	}

	&__subtitle {
		@include fluid-text(8, 16);

		font-weight: 300;
		text-align: center;
		color: var(--gray-300);
		max-width: 350px;
	}

	&__object {
		position: absolute;
		z-index: 1;
		left: calc(50% - 30px);
		top: calc(50% + 80px);
		width: 852px;
		height: auto;
		object-fit: contain;
		transform: translateX(-50%) translateY(-50%);
		transform-origin: 0% 0%;

		@include desktop {
			top: calc(50% + 60px);
			transform: scale(0.8) translateX(-50%) translateY(-50%);
		}

		@include tablet {
			top: calc(50% + 40px);
			left: calc(50% - 10px);
			transform: scale(0.4) translateX(-50%) translateY(-50%);
		}

		@include mobile {
			top: calc(50% + 10px);
		}
	}

	&__item {
		position: absolute;
		z-index: 2;
		width: 275px;
		color: var(--white);

		@include tablet {
			width: 180px;
		}

		@include mobile {
			width: 120px;
		}

		@include mobile-s {
			width: 80px;
		}
	}

	&__item--top-left {
		top: 136px;
		left: 30px;
	}

	&__item--top-right {
		top: 136px;
		right: 0;
	}

	&__item--bottom-left {
		left: 30px;
		top: 370px;
	}

	&__item--bottom-right {
		top: 370px;
		right: 0;
	}

	@include tablet {
		&__item--top-left,
		&__item--bottom-left {
			left: 20px;
		}

		&__item--top-right,
		&__item--bottom-right {
			right: 20px;
		}

		&__item--top-left,
		&__item--top-right {
			top: 80px;
		}

		&__item--bottom-left,
		&__item--bottom-right {
			top: 200px;
		}
	}

	@include mobile {
		&__item--top-left,
		&__item--bottom-left {
			left: 20px;
		}

		&__item--top-right,
		&__item--bottom-right {
			right: 20px;
		}

		&__item--top-left,
		&__item--top-right {
			top: 60px;
		}

		&__item--bottom-left,
		&__item--bottom-right {
			top: 190px;
		}
	}

	&__icon {
		@include square(97px);

		margin-bottom: 10px;
		object-fit: contain;

		@include tablet {
			margin-bottom: 4px;
			width: 27px;
		}
	}

	&__item-title {
		@include fluid-text(7, 16);

		font-weight: 700;
		line-height: 1.2;
		margin-bottom: 10px;
		color: var(--white);

		@include tablet {
			margin-bottom: 4px;
		}
	}

	&__item-text {
		@include fluid-text(7, 15);

		line-height: 1.25;
		font-weight: 300;
		color: var(--white);
	}
}
