.header {
	position: sticky;
	top: 0;
	z-index: var(--z-index-header);
	background-color: var(--header-background);
	box-shadow: var(--shadow-header);

	&:has(.header__nav-item--catalog.is-open) {
		background-color: var(--white);
	}

	&:has(.header__nav-item--catalog.is-open) + .main {
		filter: blur(8px);

		@include tablet {
			filter: none;
		}
	}

	&:has(.header__mobile.is-open) {
		background-color: var(--white);
	}

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 28px;
		min-height: var(--header-height);
		max-width: var(--header-width);

		@include mobile {
			gap: 8px;
		}
	}

	&__logo {
		display: inline-flex;
		align-items: center;
		width: 78px;
		flex-shrink: 0;

		@include mobile {
			width: 74px;
		}
	}

	&__logo-image {
		width: 100%;
		height: auto;
		object-fit: contain;
	}

	&__nav {
		display: flex;
		flex-grow: 1;

		@include tablet {
			display: none;
		}
	}

	&__nav-list {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 28px;
		flex-grow: 1;
		font-size: 12px;
	}

	&__nav-item {
		position: relative;
	}

	&__nav-item--catalog {
	}

	&__nav-link {
		position: relative;
		display: inline-flex;
		align-items: center;
		gap: 3px;
		min-height: 36px;
		font-weight: 400;
		transition-property: color;

		@include hover {
			color: var(--primary-500);
		}
	}

	&__nav-link--button {
		@include reset-button;

		color: var(--black);

		@include hover {
			color: var(--primary-500);

			&::after {
				scale: 0 1;
			}
		}
	}

	&__nav-item--catalog.is-open &__nav-link--button {
		color: var(--primary-500);

		&::after {
			scale: 1;
		}
	}

	&__nav-item--catalog.is-open &__nav-arrow {
		transform: scaleY(-1);
	}

	&__nav-arrow {
		display: block;
		flex-shrink: 0;
		color: currentColor;
		transform-origin: center;
		transition-property: transform;
		transition-duration: var(--transition-duration);
		transition-timing-function: var(--transition-timing-function);
	}

	&__mobile-chevron {
		@include square(8px);

		display: inline-block;
		border-right: 3px solid var(--primary-500);
		border-bottom: 3px solid var(--primary-500);
		rotate: 45deg;
		translate: 0 -2px;
	}

	&__actions {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 18px;

		@include tablet {
			display: contents;
		}
	}

	&__actions-inner {
		display: contents;

		@include tablet {
			display: flex;
			align-items: center;
			gap: 28px;
		}

		@include mobile {
			gap: 12px;
		}
	}

	&__search {
		position: relative;
		display: flex;
		align-items: center;
		width: 164px;
		height: 38px;
		background-color: var(--white);
		border: var(--border);
		border-radius: var(--border-radius-sm);
		box-shadow:
			1px 2px 5px 0 rgba(147, 72, 120, 0.1),
			6px 7px 9px 0 rgba(147, 72, 120, 0.09),
			13px 17px 13px 0 rgba(147, 72, 120, 0.05),
			23px 30px 15px 0 rgba(147, 72, 120, 0.01),
			36px 46px 16px 0 rgba(147, 72, 120, 0);
		transition-property: border-color, box-shadow;

		@include tablet {
			width: 400px;
		}

		@include mobile {
			width: 160px;
			height: 28px;
		}

		@include mobile-s {
			display: none;
		}

		&.is-open,
		&:focus-within {
			border-color: var(--primary-500);
		}
	}

	&__search-button {
		@include reset-button;
		@include flex-center;
		@include square(40px);

		flex-shrink: 0;

		@include mobile {
			@include square(28px);
		}
	}

	&__search-icon {
		@include mobile {
			@include square(18px);
		}
	}

	&__search-input {
		width: 100%;
		min-width: 0;
		margin-left: 15px;
		padding: 0 15px 0 0;
		font-size: 12px;
		background-color: transparent;
		border: none;
		outline: none;

		&:focus-visible {
			margin-left: 0px;
		}

		@include mobile {
			padding-right: 5px;
			margin-left: 8px;
		}
	}

	&__icon-button,
	&__burger {
		@include reset-button;
		@include flex-center;
		@include square(28px);

		flex-shrink: 0;

		@include mobile {
			@include square(17px);
		}
	}

	&__icon {
		max-width: 28px;
		max-height: 28px;
		object-fit: contain;

		@include mobile {
			max-width: 22px;
			max-height: 22px;
		}
	}

	&__icon-button--mail {
		@include tablet {
			order: 0;
		}

		@include hover {
			* {
				stroke: var(--primary-300);
			}
		}
	}

	&__icon-button--compare {
		@include tablet {
			order: 1;
		}

		@include hover {
			* {
				fill: var(--primary-300);
			}
		}
	}

	&__divider {
		width: 1px;
		height: 50px;
		overflow: hidden;

		@include tablet {
			order: 3;
		}

		@include mobile {
			height: 20px;
		}

		img {
			object-fit: contain;
		}
	}

	&__phone {
		display: flex;
		align-items: center;
		gap: 28px;
		font-size: 12px;
		font-weight: 600;
		white-space: nowrap;

		@include tablet {
			order: 2;
		}

		@include hover {
			.header__icon * {
				stroke: var(--primary-500);
			}
		}
	}

	&__catalog {
		position: fixed;
		top: var(--header-height);
		right: 0;
		left: 0;
		z-index: var(--z-index-dropdown);
		padding-block: 18px 170px;
		overflow: hidden;
		background-color: var(--white);
		box-shadow: var(--shadow-header);
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition-property: opacity, visibility;

		@include tablet {
			display: none;
		}
	}

	&__nav-item--catalog.is-open &__catalog {
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}

	&__catalog-inner {
		position: relative;
		max-width: var(--header-width);
	}

	&__catalog-content {
	}

	&__catalog-title {
		font-weight: 700;
		font-size: 32px;
		margin-bottom: 13px;
		line-height: 1.28;
	}

	&__catalog-grid {
		display: grid;
		grid-template-columns: repeat(2, 360px);
		gap: 10px;
		font-size: 20px;
		line-height: 1.52;
	}

	&__catalog-column {
	}

	&__catalog-subtitle {
		font-size: 20px;
		font-weight: 700;
	}

	ul.header__catalog-list {
		list-style: disc;
		padding-left: 28px;
		max-height: 350px;
		overflow-x: auto;
	}

	&__catalog-list a {
		margin-left: 0.2rem;

		@include hover {
			color: var(--primary-600);
		}
	}

	&__catalog-stitch {
		position: absolute;
		right: -366px;
		bottom: -165px;
		pointer-events: none;
	}

	&__burger {
		display: none;
		position: relative;
		border-radius: var(--border-radius-xs);
		color: var(--black);
		transition-property: color, background-color;

		@include tablet {
			order: 4;
			display: inline-flex;
		}

		@include mobile {
			@include square(28px);
		}

		&::before,
		&::after,
		span {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 28px;
			height: 3px;
			background-color: currentColor;
			border-radius: 2px;
			transform: translate(-50%, -50%);
			transform-origin: center;
			transition-property: transform, opacity, background-color;
			transition-duration: var(--transition-duration);
			transition-timing-function: var(--transition-timing-function);

			@include mobile {
				width: 22px;
				height: 3px;
			}
		}

		&::before,
		&::after {
			content: '';
		}

		&::before {
			transform: translate(-50%, calc(-50% - 9px));
		}

		&::after {
			transform: translate(-50%, calc(-50% + 9px));
		}

		&.is-active {
			color: var(--primary-500);

			&::before {
				transform: translate(-50%, -50%) rotate(45deg);
			}

			&::after {
				transform: translate(-50%, -50%) rotate(-45deg);
			}

			span {
				opacity: 0;
				transform: translate(-50%, -50%) scaleX(0);
			}
		}
	}

	&__mobile {
		position: fixed;
		top: var(--header-height);
		right: 0;
		bottom: 0;
		left: 0;
		z-index: var(--z-index-overlay);
		display: none;
		background-color: var(--white);
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition-property: opacity, visibility;

		@include tablet {
			display: block;
		}

		&.is-open {
			opacity: 1;
			visibility: visible;
			pointer-events: auto;
		}
	}

	&__mobile-panel {
		position: relative;
		min-height: 100%;
		padding: 16px 25px;
		overflow: hidden auto;
		background-color: var(--white);
	}

	&__mobile-list {
		display: grid;
		gap: 14px;
	}

	&__mobile-nav {
		position: relative;
		z-index: var(--z-index-base);
	}

	&__mobile-link {
		@include reset-button;

		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		min-height: 60px;
		padding: 7px 25px;
		font-size: 30px;
		font-weight: 700;
		background-color: var(--white);
		border-radius: var(--border-radius);
		box-shadow: var(--shadow-sm);

		@include mobile {
			min-height: 40px;
			font-size: 25px;
		}
	}

	&__mobile-chevron {
		@include square(14px);
	}

	&__mobile-catalog {
		display: none;
		padding-top: 3px;
		z-index: 2;
	}

	&__mobile.is-catalog-open &__mobile-nav {
		display: none;
	}

	&__mobile.is-catalog-open &__mobile-catalog {
		display: block;
	}

	&__mobile-back {
		@include reset-button;

		position: relative;
		margin-bottom: 18px;
		padding-left: 12px;
		font-size: 18px;
		color: var(--gray-500);

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 2px;
			width: 8px;
			height: 8px;
			border-left: 2px solid currentColor;
			border-bottom: 2px solid currentColor;
			rotate: 45deg;
			translate: 0 -50%;
		}
	}

	&__mobile-title {
		font-size: 48px;
		font-weight: 700;
		line-height: 1.25;
		margin-bottom: 12px;

		@include mobile {
			font-size: 32px;
		}
	}

	&__mobile-catalog-group {
		margin-left: 36px;
		margin-bottom: 35px;
	}

	&__mobile-subtitle {
		margin-bottom: 10px;
		font-size: 30px;
		font-weight: 700;
		line-height: 1.2;

		@include mobile {
			font-size: 20px;
		}
	}

	&__mobile-catalog-list {
		@include mobile {
			font-size: 20px;
		}
	}

	ul.header__mobile-catalog-list {
		list-style: disc;
		padding-left: 30px;
		font-size: 30px;
		line-height: 1.48;

		@include mobile {
			font-size: 20px;
		}
	}

	&__mobile-catalog-list a {
		@include hover {
			color: var(--primary-600);
		}
	}

	&__mobile-banner-wrapper {
		overflow: hidden;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 0;
	}

	&__mobile-banner {
		position: relative;
		bottom: -6vw;
		left: -4%;
		width: 104vw;
		max-width: none;
		pointer-events: none;
	}

	&__phone-text {
		@include desktop {
			display: none;
		}
	}
}
