.marketplaces {
	position: relative;
	z-index: 3;
	padding-block: 72px 20px;
	background-color: transparent;

	@include tablet {
		padding-block: 18px 36px;
	}

	&__decor {
		@include visual-frame-layer;

		z-index: 0;
	}

	&__stitch {
		left: 0;
		bottom: 0px;

		@include tablet {
			display: none;
		}
	}

	&__container {
		display: flex;
		flex-direction: column;
		width: 100%;
		gap: 28px;

		@include tablet {
			gap: 12px;
		}
	}

	&__header {
		text-align: left;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;
		z-index: 1;
	}

	&__title {
		@include fluid-text(7, 32);

		font-weight: 700;
	}

	&__subtitle {
		@include fluid-text(7, 20);

		font-weight: 300;
	}

	&__grid {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 42px 70px;
		align-items: center;
		z-index: 1;

		@include tablet {
			gap: 12px 21px;
		}
	}

	&__item {
		@include flex-center;

		flex: 0 1 calc((100% - 140px) / 3);
		padding: 22px 30px;
		background-color: var(--white);
		border: 1px solid rgba(0, 0, 0, 0.03);
		border-radius: var(--border-radius);
		box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.04);

		@include tablet {
			flex-basis: calc((100% - 21px) / 2);
			padding: 3px 5px;
		}

		@include mobile-s {
			flex-basis: 100%;
		}
	}

	&__link {
		@include flex-center;

		height: 58px;

		@include tablet {
			height: 21px;
		}

		img {
			height: 100%;
			object-fit: contain;
		}
	}

	&--center {
		.marketplaces__header {
			align-items: center;
			text-align: center;
		}
	}
}
