.marketplaces {
	position: relative;
	margin-bottom: var(--section-margin-bottom);
	background-color: var(--white);

	&__container {
		display: grid;
		gap: 28px;
	}

	&__header {
		text-align: left;
	}

	&__title {
		margin-bottom: 6px;
		font-size: clamp(28px, 2.7vw, 38px);
		font-weight: 800;
	}

	&__subtitle {
		font-size: 18px;
		color: var(--gray-500);
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(3, minmax(0, 1fr));
		gap: 28px;
		align-items: center;
	}

	&__item {
		@include flex-center;

		min-height: 114px;
		padding: 18px 34px;
		background-color: var(--white);
		border: 1px solid rgba(0, 0, 0, 0.03);
		border-radius: var(--border-radius-sm);
		box-shadow: var(--shadow-sm);
	}

	&__item img {
		max-width: 100%;
		max-height: 70px;
		object-fit: contain;
	}

	&__item:nth-child(4) {
		margin-left: 24%;
	}

	&__item:nth-child(5) {
		margin-right: 24%;
	}

	@include tablet-s {
		&__grid {
			grid-template-columns: repeat(2, minmax(0, 1fr));
			gap: 18px;
		}

		&__item:nth-child(4),
		&__item:nth-child(5) {
			margin: 0;
		}
	}

	@include mobile {
		&__container {
			gap: 18px;
		}

		&__subtitle {
			font-size: 14px;
		}

		&__grid {
			gap: 12px;
		}

		&__item {
			min-height: 66px;
			padding: 12px 16px;
		}

		&__item img {
			max-height: 40px;
		}
	}

	@include mobile-s {
		&__grid {
			grid-template-columns: 1fr;
		}
	}
}
