.product-card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	padding: 27px;
	color: var(--black);
	background-color: var(--white);
	border: 1px solid rgba(0, 0, 0, 0.04);
	border-radius: 17px;
	box-shadow: 2px 4px 11px 0 rgba(0, 0, 0, 0.08);
	transition-property: box-shadow, translate;
	transition-duration: var(--transition-duration);
	transition-timing-function: var(--transition-timing-function);

	@include hover {
		box-shadow: 0 20px 30px rgba(196, 18, 77, 0.18);
	}

	@include tablet {
		min-height: auto;
	}

	&__image-link {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 240px;
		background-color: var(--white);

		@include tablet {
			height: 160px;
		}
	}

	&__image {
		width: min(100%, 240px);
		max-height: 240px;
		object-fit: contain;
		margin-top: 30px;

		@include tablet {
			margin-top: 0px;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		gap: 5px;
		min-height: 150px;
		margin-top: auto;
		line-height: 1;
		color: var(--gray-900);

		@include tablet {
			min-height: 100px;
			margin-top: 0;
		}
	}

	&__label {
		@include fluid-text(8, 10);

		font-weight: 700;
		// text-transform: lowercase;
		color: var(--primary-500);
	}

	&__label--popular {
		color: var(--primary-500);
	}
	&__label--recomend {
		color: var(--gray-500);
	}
	&__label--heat {
		color: #b64400;
		text-shadow:
			0 0 1px 0 rgba(246, 205, 20, 0.85),
			0 0 1px 0 rgba(246, 205, 20, 0.5),
			0 0 1px 0 rgba(246, 205, 20, 0.15),
			0 0 1px 0 rgba(246, 205, 20, 0.02);
	}
	&__label--new {
		color: var(--primary-500);
		text-shadow: 0 4px 36px 0 var(--color-4);
	}

	&__title {
		@include fluid-text(10, 15);

		font-weight: 700;
		max-height: 3.5em;
		overflow: hidden;
	}

	&__price {
		@include fluid-text(8, 12);
	}

	&__link {
		@include fluid-text(8, 12);

		margin-top: 22px;

		@include hover {
			color: var(--primary-600);
		}
	}
}
