.product-page {
	position: relative;
	overflow: hidden;
	background-color: var(--white);

	&__container {
		position: relative;
		z-index: var(--z-index-base);
		padding-block: 56px 0;

		@include desktop {
			padding-block-start: 42px;
		}

		@include mobile {
			padding-block-start: 22px;
		}
	}

	&__breadcrumbs {
		@include fluid-text(11, 14);

		margin-bottom: 26px;

		@include mobile {
			margin-bottom: 14px;
		}
	}
}
