@mixin product-dashed-frame(
	$color: currentColor,
	$radius: 16px,
	$dash: 11px,
	$gap: 11px,
	$stroke: 1px
) {
	$period: $dash + $gap;

	position: relative;
	border: $stroke solid transparent;
	border-radius: $radius;
	--product-dashed-frame-color: #{$color};

	&::before {
		content: '';
		position: absolute;
		inset: 0;
		border-radius: inherit;
		pointer-events: none;
		background:
			linear-gradient(
					90deg,
					var(--product-dashed-frame-color) 0 #{$dash},
					transparent #{$dash} #{$period}
				)
				left top / #{$period} #{$stroke} repeat-x,
			linear-gradient(
					90deg,
					var(--product-dashed-frame-color) 0 #{$dash},
					transparent #{$dash} #{$period}
				)
				left bottom / #{$period} #{$stroke} repeat-x,
			linear-gradient(
					0deg,
					var(--product-dashed-frame-color) 0 #{$dash},
					transparent #{$dash} #{$period}
				)
				left top / #{$stroke} #{$period} repeat-y,
			linear-gradient(
					0deg,
					var(--product-dashed-frame-color) 0 #{$dash},
					transparent #{$dash} #{$period}
				)
				right top / #{$stroke} #{$period} repeat-y;
	}
}

.product-page {
}

.product-hero {
	position: relative;
	display: grid;
	grid-template-columns: minmax(500px, 1fr) minmax(220px, 730px);
	align-items: start;
	gap: 90px;
	padding-block: 40px 0px;
	margin-bottom: 10px;

	@include tablet {
		grid-template-columns: 1fr;
		gap: 20px;
		gap: 30px;
		margin-bottom: 20px;
	}

	&__gallery,
	&__summary {
		position: relative;
		z-index: 1;
		min-width: 0;
	}

	&__decor {
		@include visual-frame-layer;

		z-index: 0;
		overflow: visible;
	}

	&__decor-stitch {
	}

	&__decor-stitch--top {
		top: 320px;
		left: -40px;

		@include tablet {
			scale: 0.3;
			left: calc(50% - 457px);
			top: 216px;
		}
	}
}

.product-gallery {
	display: grid;
	grid-template-columns: 164px minmax(0, 1fr);
	gap: 26px;

	@include desktop {
		grid-template-columns: 128px minmax(0, 1fr);
		gap: 20px;
	}

	@include tablet {
		grid-template-columns: 1fr;
	}

	&__thumbs {
		display: grid;
		gap: 10px;
		align-content: start;

		@include tablet {
			display: flex;
			overflow-x: auto;
			padding-bottom: 10px;
			scrollbar-width: thin;
			justify-content: flex-start;
			-webkit-overflow-scrolling: touch;
		}

		@include mobile {
			gap: 10px;
			margin-inline: calc(var(--container-padding-x) * -1);
			padding-inline: var(--container-padding-x);
		}
	}

	&__thumb,
	&__main {
		@include reset-button;
		@include flex-center;

		background-color: var(--white);
		transition-property: border-color, box-shadow, transform;
	}

	&__thumb {
		min-height: 140px;
		padding: 10px;
		border-radius: 9px;
		border: 1px solid rgba(0, 0, 0, 0.07);
		box-shadow:
			0 2px 5px 0 rgba(0, 0, 0, 0.1),
			0 9px 9px 0 rgba(0, 0, 0, 0.09),
			0 20px 12px 0 rgba(0, 0, 0, 0.05),
			0 35px 14px 0 rgba(0, 0, 0, 0.01),
			0 55px 15px 0 rgba(0, 0, 0, 0);

		@include desktop {
			min-height: 112px;
		}

		@include tablet {
			flex: 0 0 148px;
		}

		@include mobile {
			flex-basis: 112px;
			min-height: 84px;
			padding: 9px;
		}

		&.is-active {
			border-color: var(--primary-500);
			box-shadow: 0 18px 36px rgba(246, 205, 20, 0.2);
		}

		@include hover {
			border-color: var(--primary-500);
		}

		img {
			max-width: 100%;
			max-height: 112px;
			object-fit: contain;

			@include mobile {
				max-height: 66px;
			}
		}
	}

	&__main {
		min-height: 620px;
		padding: 10px;
		border-radius: var(--border-radius-lg);
		cursor: zoom-in;

		@include desktop {
			min-height: 520px;
		}

		@include tablet {
			order: -1;
			min-height: 520px;
		}

		@include mobile {
			min-height: 323px;
			padding: 10px;
			border-radius: var(--border-radius);
			box-shadow: none;
		}
	}

	&__image {
		width: min(100%, 690px);
		max-height: 690px;
		object-fit: contain;

		@include mobile {
			max-height: 292px;
		}
	}
}

.product-summary {
	@include product-dashed-frame(var(--black));

	padding: 23px 31px 26px 31px;

	@include tablet {
		width: min(100%, 620px);
		padding: 10px 14px 12px 15px;
		margin-inline: auto;
	}

	@include mobile {
		width: 100%;
		border-radius: 7px;
	}

	&__button {
		position: absolute;
		top: -40px;
		right: -40px;
		z-index: 1;

		@include tablet {
			scale: 0.5;
		}
	}

	&__category,
	&__title,
	&__rating,
	&__price,
	&__article,
	&__params,
	&__specs-link {
		padding-left: 18px;

		@include tablet {
			padding-left: 5px;
		}
	}

	&__compare {
		@include hover {
			* {
				fill: var(--primary-500);
			}
		}

		@include mobile {
			width: 18px;
			height: 18px;

			svg {
				width: 18px;
				height: 18px;
			}
		}
	}

	&__category {
		@include fluid-text(11, 12);

		margin-bottom: 20px;
		font-weight: 700;
		color: #6e6e73;

		@include tablet {
			margin-bottom: 10px;
		}
	}

	&__title {
		@include fluid-text(30, 48);

		margin-bottom: 18px;
		font-weight: 700;

		@include tablet {
			margin-bottom: 10px;
		}
	}

	&__rating {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 11px;
		margin-bottom: 8px;
	}

	&__stars {
		@include fluid-text(20, 24);

		letter-spacing: 2px;
		line-height: 1;
		color: var(--primary-500);
	}

	&__reviews-link {
		@include fluid-text(7, 15);
		color: var(--gray-500);
		font-weight: 400;

		@include hover {
			color: var(--black);
		}
	}

	&__price {
		@include fluid-text(29, 64);

		margin-bottom: 6px;
		font-weight: 900;
		line-height: 1;

		@include tablet {
			margin-bottom: 0px;
		}
	}

	&__article {
		@include fluid-text(11, 24);

		margin-bottom: 28px;
		font-weight: 600;
		color: var(--primary-500);

		@include tablet {
			margin-bottom: 11px;
		}
	}

	&__params {
		margin-bottom: 64px;

		@include tablet {
			margin-bottom: 30px;
		}
	}

	&__subtitle {
		@include fluid-text(11, 24);

		font-weight: 600;
		margin-bottom: 7px;
		color: var(--gray-500);
		font-weight: 700;

		@include tablet {
			margin-bottom: 0px;
		}
	}

	&__list {
		@include fluid-text(11, 24);

		display: grid;
		margin-bottom: 7px;
		font-weight: 400;
		padding-left: 25px;
		list-style: disc;
	}

	&__list-row {
		display: list-item;

		dt,
		dd {
			display: inline;
		}
	}

	&__specs-link {
		@include fluid-text(11, 24);

		display: inline-flex;
		align-items: center;
		gap: 8px;
		font-weight: 700;
		color: var(--primary-500);

		@include tablet {
			gap: 4px;
		}

		&::after {
			content: '';
			width: 10px;
			height: 10px;
			border-top: 2px solid currentColor;
			border-right: 2px solid currentColor;
			rotate: 45deg;

			@include tablet {
				width: 6px;
				height: 6px;
				border-top: 1px solid currentColor;
				border-right: 1px solid currentColor;
			}
		}

		@include hover {
			color: var(--primary-600);
		}
	}

	&__marketplaces {
		margin-bottom: 13px;
	}
}

.product-marketplaces {
	display: grid;
	grid-template-columns: auto minmax(0, 1fr) auto;
	align-items: center;
	column-gap: 20px;
	row-gap: 4px;
	min-width: 0;
	width: 100%;
	max-width: 100%;
	margin-inline: -10px;

	@include desktop {
		column-gap: 14px;
	}

	@include tablet {
		column-gap: 10px;
		margin-inline: 0px;
	}

	@include mobile {
		column-gap: 7px;
		row-gap: 2px;
	}

	&__button {
		@include reset-button;
		@include flex-center;

		width: clamp(24px, 2.569vw, 37px);
		aspect-ratio: 1;
		border-radius: 50%;
		transition-property: opacity, transform;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}

		@include mobile {
			width: 26px;
		}

		@include hover {
			transform: scale(1.06);
		}
	}

	&__button.swiper-button-disabled {
		opacity: 0.35;
		pointer-events: none;
	}

	&__swiper {
		min-width: 0;
		width: 100%;
		max-width: 100%;
		height: clamp(32px, 3.819vw, 55px);
		overflow: hidden;

		@include mobile {
			height: 38px;
		}
	}

	&__list {
		align-items: center;
	}

	&__link {
		@include flex-center;

		min-width: 0;
		height: 100%;
		padding-inline: 2px;

		@include hover {
			img {
				filter: grayscale(0);
			}
		}

		img {
			max-width: 100%;
			max-height: clamp(24px, 2.569vw, 37px);
			width: auto;
			height: auto;
			object-fit: contain;
			filter: grayscale(1);
			transition: filter var(--transition-duration)
				var(--transition-timing-function);
		}

		@include mobile {
			height: 38px;
			padding-inline: 1px;

			img {
				max-height: 28px;
			}
		}
	}

	&__all {
		@include fluid-text(14, 28);

		grid-column: 2;
		justify-self: center;
		font-weight: 800;
		line-height: 1;
		color: var(--primary-500);
		transition-property: color, transform;

		@include hover {
			color: var(--primary-600);
		}
	}
}

.product-document {
	display: grid;
	grid-template-columns: 100px minmax(0, 1fr);
	align-items: center;
	gap: 18px;
	padding: 28px 20px 28px 44px;
	color: var(--black);
	background: var(--white);
	border: 2px solid var(--primary-500);
	border-radius: var(--border-radius-lg);
	transition-property: border-color, box-shadow, transform;

	@include desktop {
		padding: 28px 20px;
	}

	@include mobile {
		grid-template-columns: 58px minmax(0, 1fr);
		gap: 12px;
		padding: 13px;
	}

	@include hover {
		box-shadow: var(--shadow-sm);
		transform: translateY(-1px);
	}

	&__icon {
		@include flex-center;
		@include square(99px);

		background-color: var(--primary-100);
		border-radius: var(--border-radius);

		img {
			width: 65px;
			height: 65px;
			object-fit: contain;
		}

		@include mobile {
			@include square(46px);

			img {
				width: 30px;
				height: 30px;
			}
		}
	}

	&__content {
		display: grid;
		gap: 3px;
		min-width: 0;
	}

	&__title {
		@include fluid-text(14, 24);

		font-weight: 600;
	}

	&__text {
		@include fluid-text(11, 15);

		font-weight: 300;
		color: var(--gray-500);
	}

	&__download {
		@include fluid-text(14, 18);

		font-weight: 700;
		color: var(--primary-500);
		display: inline-flex;
		gap: 5px;
		align-items: center;
	}

	&__download-icon {
		width: 26px;
		height: 26px;
		object-fit: contain;

		@include tablet {
			width: 12px;
			height: 12px;
		}
	}
}

.product-tabs {
	position: relative;
	margin-bottom: 70px;

	&__nav {
		position: relative;
		z-index: 1;
		display: flex;
		gap: 56px;
		margin-bottom: 59px;

		@include tablet {
			justify-content: center;
		}

		@include mobile {
			justify-content: space-between;
			gap: 10px;
			margin-bottom: 20px;
			margin-inline: 0;
			padding-inline: 0;
		}
	}

	&__button {
		@include reset-button;
		@include flex-center;
		@include fluid-text(13, 32);

		min-width: 210px;
		min-height: 58px;
		padding: 12px 30px;
		font-weight: 700;
		background-color: var(--white);
		border: 1px dashed var(--gray-500);
		border-radius: 16px;
		transition-property: background, border-color, box-shadow, transform;

		@include mobile {
			flex: 0 1 25%;
			min-width: unset;
			min-height: 24px;
			padding: 4px;
			border-radius: 7px;
		}

		&.is-active {
			background: linear-gradient(
				90deg,
				var(--primary-500),
				var(--primary-300)
			);
			// border-color: var(--primary-500);
		}

		@include hover {
			border-color: var(--primary-500);
		}
	}

	&__decor {
		@include visual-frame-layer;

		overflow: visible;
	}

	&__decor-stitch,
	&__decor-button {
		position: absolute;
		opacity: 0;
		// transition: opacity var(--transition-duration) var(--transition-timing-function);
	}

	&__decor-stitch--specs-bottom,
	&__decor-stitch--overview {
		right: -180px;
		bottom: -60px;

		@include tablet {
			scale: 0.4;
			right: calc(50% - 650px);
			bottom: -70px;
		}
	}

	&__decor-stitch--specs-bottom {
		display: none;

		@include tablet {
			display: block;
		}
	}

	&__decor-stitch--specs-left {
		left: -330px;
		top: 480px;

		@include tablet {
			display: none;
		}
	}

	&__decor-stitch--reviews {
		right: -110px;
		bottom: -55px;

		@include tablet {
			scale: 0.4;
			right: calc(50% - 560px);
			bottom: -90px;
		}
	}

	&__decor-stitch--overview,
	&__decor-stitch--specs,
	&__decor-stitch--reviews {
		// @include mobile {
		// 	left: -180px;
		// 	top: 310px;
		// }
	}

	&[data-active-tab='overview'] &__decor-stitch--overview,
	&[data-active-tab='specs'] &__decor-stitch--specs,
	&[data-active-tab='reviews'] &__decor-stitch--reviews,
	&[data-active-tab='specs'] &__decor-button,
	&[data-active-tab='reviews'] &__decor-button {
		opacity: 1;
	}

	&__panels {
		position: relative;
		z-index: 1;
	}

	&__panel {
		&:not(.is-active) {
			display: none;
		}
	}
}

.product-overview {
	&__content {
		@include fluid-text(14, 32);

		display: grid;
		gap: 28px;
		font-weight: 400;
		margin-bottom: 58px;
		line-height: 1.2;
		color: var(--black);

		b {
			font-weight: 700;
		}

		@include tablet {
			margin-inline: auto;
		}

		@include mobile {
			gap: 14px;
		}
	}
}

.product-specs {
	display: grid;
	gap: 42px;
	overflow: visible;

	@include mobile {
		gap: 30px;
	}

	&__section {
		position: relative;

		padding: 63px 24px;
		background: linear-gradient(
			180deg,
			rgba(255, 239, 166, 0.25) 0%,
			rgba(246, 205, 20, 0.25) 100%
		);
		border-radius: 20px;

		@include mobile {
			padding: 35px 12px;
			border-radius: 6px;
		}

		> .decor {
			overflow: visible;

			.decor__button-top {
				top: -25px;
				right: -25px;
				display: none;

				@include tablet {
					scale: 0.5;
					display: block;
				}
			}

			.decor__button {
				bottom: -25px;
				left: -25px;

				@include tablet {
					scale: 0.5;
					top: -25px;
					bottom: unset;
				}
			}

			.decor__stitch {
				right: -220px;
				bottom: -55px;

				@include tablet {
					scale: 0.3;
					right: calc(50% - 620px);
					top: -70px;
					bottom: unset;
				}
			}
		}
	}

	&__panel {
		width: min(100%, 1195px);
		margin-inline: auto;
		padding: 67px 72px;
		background-color: var(--white);
		border-radius: var(--border-radius);

		@include tablet {
			padding: 27px 36px;
		}

		@include tablet {
			padding: 15px 10px;
		}
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		column-gap: 58px;
		row-gap: 18px;

		@include tablet {
			grid-template-columns: 1fr;
			row-gap: 8px;
		}
	}

	&__row {
		@include fluid-text(10, 16);

		display: grid;
		grid-template-columns: auto minmax(18px, 1fr) auto;
		align-items: end;
		gap: 8px;
		min-width: 0;
		letter-spacing: -0.01em;

		&::after {
			content: '';
			grid-column: 2;
			border-bottom: 1px dashed var(--primary-400);
			translate: 0 -0.45em;
		}

		dt {
			grid-column: 1;
			min-width: 0;
		}

		dd {
			grid-column: 3;
			text-align: right;
		}
	}

	&__options {
		@include fluid-text(15, 25);

		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		column-gap: 36px;
		row-gap: 12px;
		line-height: 1.25;

		@include tablet {
			grid-template-columns: 1fr;
		}

		li {
			position: relative;
			padding-left: 32px;

			&::before {
				@include flex-center();

				content: '';
				position: absolute;
				top: 0.3em;
				left: 0;
				width: 21px;
				height: 21px;
				background: url('/images/icons/list-bullet.svg');
			}
		}
	}
}

.product-reviews {
	&__space {
		min-height: 780px;
		background-color: var(--white);
		border-radius: 20px;
		box-shadow:
			0 14px 30px 0 rgba(0, 0, 0, 0.1),
			0 54px 54px 0 rgba(0, 0, 0, 0.09),
			0 122px 73px 0 rgba(0, 0, 0, 0.05),
			0 218px 87px 0 rgba(0, 0, 0, 0.01),
			0 340px 95px 0 rgba(0, 0, 0, 0);

		@include mobile {
			min-height: 430px;
			box-shadow:
				0 9px 21px 0 rgba(134, 131, 131, 0.1),
				0 37px 37px 0 rgba(134, 131, 131, 0.09),
				0 84px 50px 0 rgba(134, 131, 131, 0.05),
				0 149px 60px 0 rgba(134, 131, 131, 0.01),
				0 233px 65px 0 rgba(134, 131, 131, 0);
			background: #fff;
		}
	}

	&__pagination {
		position: relative;
		z-index: 1;
		margin-top: -74px;
		padding-bottom: 50px;

		@include mobile {
			margin-top: -58px;
			padding-bottom: 30px;
		}
	}
}

.product-video {
	position: relative;
	z-index: 1;
	display: grid;
	place-items: center;
	min-height: 745px;
	max-width: calc(1920px + var(--container-padding-x) * 2);
	overflow: hidden;
	background-color: var(--gray-100);
	margin-bottom: 78px;

	@include desktop {
		min-height: 520px;
		margin-bottom: 40px;
	}

	@include tablet {
		min-height: 420px;
		margin-bottom: 11px;
	}

	@include mobile {
		min-height: 226px;
		margin-inline: calc(var(--container-padding-x) * -1);
	}

	&__image {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__play {
		@include reset-button;
		@include flex-center;
		@include square(100px);

		position: relative;
		z-index: 2;
		background: rgba(255, 255, 255, 0.2);
		border: 1px solid rgba(255, 255, 255, 0.7);
		border-radius: 50%;
		backdrop-filter: blur(4px);
		transition-property: transform, box-shadow;

		@include mobile {
			width: 22px;
		}

		@include hover {
			transform: scale(1.04);
			box-shadow: 0 22px 48px rgba(0, 0, 0, 0.18);
		}

		span {
			width: 0;
			height: 0;
			margin-left: 8px;
			border-block: 28px solid transparent;
			border-left: 48px solid var(--white);

			@include mobile {
				margin-left: 3px;
				border-block-width: 6px;
				border-left-width: 12px;
			}
		}
	}

	&__more {
		position: absolute;
		right: 9%;
		bottom: 58px;
		z-index: 2;

		--button-plate-arrow-from: var(--white);
		--button-plate-arrow-to: var(--white);

		@include hover {
			--button-plate-arrow-from: var(--black);
			--button-plate-arrow-to: var(--black);

			span {
				color: var(--white);
			}

			svg * {
				fill: var(--black);
			}
		}

		span {
			@include fluid-text(14, 16);

			min-height: unset;
			padding: 9px 29px;

			@include mobile {
				padding: 9px 10px;
			}
		}

		@include mobile {
			right: 50%;
			transform: translateX(50%);
			bottom: 18px;
		}
	}
}
