.text-page {
	padding-bottom: 50px;
	background-color: var(--white);

	@include tablet {
		padding-bottom: 24px;
	}

	&__hero {
		display: grid;
		justify-items: center;
		max-width: calc(1040px + var(--container-padding-x) * 2);
		padding-block: 74px 38px;
		text-align: center;

		@include tablet {
			padding-block: 28px 18px;
		}
	}

	&__eyebrow {
		@include fluid-text(10, 16);

		font-weight: 700;
		text-transform: uppercase;
	}
	
	&__title {
		@include fluid-text(28, 56);
		
		color: var(--primary-500);
		margin-bottom: 14px;
		font-weight: 800;
		line-height: 1.05;
	}

	&__subtitle {
		@include fluid-text(12, 20);

		max-width: 820px;
		font-weight: 400;
		line-height: 1.45;
		color: var(--gray-500);
	}

	&__content {
		max-width: calc(860px + var(--container-padding-x) * 2);
		margin-bottom: 70px;

		@include tablet {
			margin-bottom: 28px;
		}

		h2 {
			@include fluid-text(20, 32);

			margin-block: 36px 16px;
			font-weight: 800;
			line-height: 1.15;

			@include tablet {
				margin-block: 24px 12px;
			}

			&:first-child {
				margin-top: 0;
			}
		}

		p,
		li {
			@include fluid-text(12, 18);

			line-height: 1.55;
			color: var(--gray-500);
		}

		p,
		ul,
		ol {
			margin-block: 0 16px;
		}

		ul,
		ol {
			padding-left: 22px;
		}

		li:not(:last-child) {
			margin-bottom: 8px;
		}

		li::marker {
			color: var(--primary-500);
			font-weight: 800;
		}
	}
}
