.container {
	max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
	width: auto;
	margin-inline: auto;
	padding-inline: var(--container-padding-x);
}

.section {
	position: relative;
	margin-bottom: 0px;
}

.section__header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	gap: 24px;
	margin-bottom: 36px;

	@include mobile {
		flex-direction: column;
		align-items: flex-start;
		gap: 16px;
		margin-bottom: 24px;
	}
}

.visually-hidden {
	@include visually-hidden;
}

.hidden-mobile {
	@include tablet {
		display: none !important;
	}
}

.visible-mobile {
	@include tablet-above {
		display: none !important;
	}
}

.full-width {
	@include full-width;
}

.full-width-mobile {
	@include mobile {
		@include full-width;
	}
}
